<?xml version="1.0" encoding="utf-8"?>

<!-- Configuração geral do app -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Configura a aplicação -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlexFilmes">

        <!-- Activity de login (tela inicial do app) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <!-- Define como launcher do app -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Activity de cadastro -->
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />

        <!-- Activity principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- Activity do catálogo de filmes -->
        <activity
            android:name=".CatalogActivity"
            android:exported="true" />

        <!-- Activity de detalhes do filme -->
        <activity
            android:name=".MovieDetailActivity"
            android:exported="true" />

        <!-- Activity da minha lista -->
        <activity
            android:name=".MyListActivity"
            android:exported="true" />

        <!-- Activity de boas-vindas -->
        <activity android:name=".WelcomeActivity" />

    </application>

</manifest>